* {    
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: 1.6rem;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
body * {
  transition: 0.3s;
}
:root {
  --primary-color:blue;
  --secondary-color: blue;
  --white-color: #fff;
  --black-color: #222;
}
::-webkit-scrollbar {
  width: 0.3125rem;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}
/* NAVBAR EDIT START */
.navbar-toggler {
  border: 0 !important;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0;
}
.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: var(--primary-color);
  display: block;
  transition: all 0.2s;
}
.middle-bar {
  margin: 5px;
}
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 10%;
}
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
.navbar-toggler.collapsed .toggler-icon {
  background-color: #777777;
}
/* NAVBAR EDIT END */
.navbar a {
  font-weight: 700;
  color: var(--black-color) !important;
}
.navbar a:hover {
  font-weight: 600;
  color: var(--primary-color) !important;
}
.navbar {
  padding: 15px 15px !important;
  z-index: 99;
}


@media (max-width: 991.98px) {
  .navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.nav-item .nav-link {
  padding: 0.5rem 1rem !important;
}
.nav-color{
  color: var(--primary-color);
  font-size: 35px;
}

.showcase {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.social{
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
}
.about{
  background-color: #eee;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#file{
  width: 400px;
}
@media (max-width: 767.98px) {
  #file{
    width: 380px;
  }
}
@media (max-width: 576px) {
  #file{
    width: 260px;
  }
}
@media (max-width: 360px) {
  #file{
    width: 200px;
  }
}
.skills-flex{
  display: flex;
  flex-direction: row;
}
.services{
  background-color: #eee ;
}
.testimonial img{
  border-radius: 50%;
}
.testimonial{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.test-bg{
  background: url(./components/images/bgblue.jpg);
  padding: 30px;
}
.contact-padding{
  padding-left: 50px !important;
}
@media (max-width: 767.98px) {
  .contact-padding{
    padding-left: 30px !important;
  }
}
fieldset {
  width: 80%;
  margin: 0 auto;
  padding-left: 80px;
}

fieldset textarea {
  display: block;
  width: 100%;
  margin-bottom: 18px;
  border: none;
  color: #eee;
  outline: none;
  font-size: 13px;
  padding-left: 12px;
  background-color:transparent;
  border-bottom: 1px solid #ddd;
}
fieldset input,
select {
  display: block;
  width: 100%;
  color: #eee;
  margin-bottom: 18px;
  height: 40px;
  border: none;
  border-bottom: 1px solid #ddd;
  font-size: 13px;
  padding-left: 12px;
  background-color:transparent;
}

select {
  width: 98%;
}

fieldset input:focus,
textarea:focus,
select:focus {
  outline: none;
}
fieldset button {
  display: inline-block;
  width: 50%;
  height: 45px;
  border-radius: 20px;
  background-color: #eee;
  border: none;
  color: blue;
  font-weight: 400;
  font-size: 18px;
}
@media (max-width: 767.98px) {
  fieldset button  {
    width: 80%;
  }
}
fieldset button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  border: #888 1px solid;
  color: var(--black-color);
  outline: none;
}
.footer{
  background:url(./components/images/footerbg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 40px 0;
}